{% extends 'base.html' %}

{% block content %}

<h1>Home</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum mollitia cupiditate suscipit ipsa praesentium quod fuga repudiandae, laboriosam dicta vero odit hic modi ullam, aut sint ut iure, officia totam eius in. Hic porro placeat aut commodi dolorem iusto beatae ea, eveniet ipsam officiis iste facilis, illum explicabo enim voluptas autem corrupti at numquam asperiores sint assumenda? Facilis quia, quaerat recusandae magni cumque saepe doloribus dolore suscipit iste sed vel magnam error excepturi natus? Facilis explicabo sequi, numquam ipsa officiis reiciendis. Quidem delectus dicta quibusdam ducimus. Nobis qui sed voluptas excepturi, quos ipsum recusandae assumenda aliquam libero cupiditate ratione fugiat?</p>

{% endblock %}

